// colors
$global-colors-background: #e8e8e8;
$global-colors-header_background: #232323;
$global-colors-footer_background: #434343;

$global-colors-pink: #ed3434;
$global-colors-red: #a11313;

// sizes
$global-sizes-desktop_width: 1170px;
$global-sizes-mobile_width: 320px;
$global-sizes-grid_gap: 28px;

// sizes > fonts
$global-sizes-font-header: 35px;
$global-sizes-font-header-mobile: 24px;

// animations
$global-animations-fast: 0.3s;
$global-animations-normal: 0.5s;
$global-animations-slow: 0.7s;
